In [5]:
import pandas as pd
import csv

# Converting location files

## Spain

In [6]:
header_list = ["postcodes", "poblacionid", "town", "latitude", "longitude", "provinceId", "province"]

In [7]:
df = pd.read_csv("../../../../Downloads/postal.cat.csv", sep=";", names=header_list, header=0)

In [8]:
df.head()

,postcodes,poblacionid,town,latitude,longitude,provinceId,province
0,240,1,Alegría-Dulantzi,-2.712437,42.939812,1,Araba/Álava
1,240,1,Abengibre,-1.543845,39.210008,1,Araba/Álava
2,240,1,l'Atzúbia,-0.151730,38.847430,1,Araba/Álava
3,240,1,Abla,-2.779540,37.141210,1,Araba/Álava
4,240,1,Adanero,-4.603775,40.944236,1,Araba/Álava

In [9]:
df_final = df[["postcodes", "town", "latitude", "longitude" ,"province"]]

In [10]:
df_final['country_iso_alpha2']='ES'
df_final['country_iso_alpha3']='ESP'
df_final['country_iso_numeric']='724'

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
list(df_final.columns)

['postcodes',
 'town',
 'latitude',
 'longitude',
 'province',
 'country_iso_alpha2',
 'country_iso_alpha3',
 'country_iso_numeric']

In [12]:
df_final.to_csv('location_files/spain.csv',  index = False)

In [13]:
df2 = pd.read_csv('location_files/spain.csv', sep=",")

In [14]:
df2.head()

,postcodes,town,latitude,longitude,province,country_iso_alpha2,country_iso_alpha3,country_iso_numeric
0,240,Alegría-Dulantzi,-2.712437,42.939812,Araba/Álava,ES,ESP,724
1,240,Abengibre,-1.543845,39.210008,Araba/Álava,ES,ESP,724
2,240,l'Atzúbia,-0.151730,38.847430,Araba/Álava,ES,ESP,724
3,240,Abla,-2.779540,37.141210,Araba/Álava,ES,ESP,724
4,240,Adanero,-4.603775,40.944236,Araba/Álava,ES,ESP,724

## UK

In [17]:
header_list = ['postcodes',
 'eastings',
 'northings',
 'latitude',
 'longitude',
 'town',
 'region',
 'uk_region',
 'uk_region_code',
 'country_string']

In [18]:
df_uk = pd.read_csv("../../../../Downloads/postcodes_UK.csv", sep=",",names=header_list,header=0)

In [19]:
df_uk.head()

,postcodes,eastings,northings,latitude,longitude,town,region,uk_region,uk_region_code,country_string
0,AB10,392900,804900,57.13514,-2.11731,Aberdeen,Aberdeen City,Scotland,SCT,Scotland
1,AB11,394500,805300,57.13875,-2.09089,Aberdeen,Aberdeen City,Scotland,SCT,Scotland
2,AB12,393300,801100,57.10100,-2.11060,Aberdeen,Aberdeen City,Scotland,SCT,Scotland
3,AB13,385600,801900,57.10801,-2.23776,Milltimber,Aberdeen City,Scotland,SCT,Scotland
4,AB14,383600,801100,57.10076,-2.27073,Peterculter,Aberdeen City,Scotland,SCT,Scotland

In [20]:
df_uk['country_iso_alpha2']='GB'
df_uk['country_iso_alpha3']='GBR'
df_uk['country_iso_numeric']='826'

In [21]:
df_uk_final = df_uk[["postcodes", "town", "latitude", "longitude", "region", "country_iso_alpha3", "uk_region", "uk_region_code","country_iso_alpha2", "country_iso_numeric"]]

In [22]:
df_uk_final.head()

,postcodes,town,latitude,longitude,region,country_iso_alpha3,uk_region,uk_region_code,country_iso_alpha2,country_iso_numeric
0,AB10,Aberdeen,57.13514,-2.11731,Aberdeen City,GBR,Scotland,SCT,GB,826
1,AB11,Aberdeen,57.13875,-2.09089,Aberdeen City,GBR,Scotland,SCT,GB,826
2,AB12,Aberdeen,57.10100,-2.11060,Aberdeen City,GBR,Scotland,SCT,GB,826
3,AB13,Milltimber,57.10801,-2.23776,Aberdeen City,GBR,Scotland,SCT,GB,826
4,AB14,Peterculter,57.10076,-2.27073,Aberdeen City,GBR,Scotland,SCT,GB,826

In [23]:
df_uk_final.to_csv('location_files/uk.csv',  index = False)

In [24]:
df3 = pd.read_csv('location_files/uk.csv', sep=",")

In [25]:
df3.head()

,postcodes,town,latitude,longitude,region,country_iso_alpha3,uk_region,uk_region_code,country_iso_alpha2,country_iso_numeric
0,AB10,Aberdeen,57.13514,-2.11731,Aberdeen City,GBR,Scotland,SCT,GB,826
1,AB11,Aberdeen,57.13875,-2.09089,Aberdeen City,GBR,Scotland,SCT,GB,826
2,AB12,Aberdeen,57.10100,-2.11060,Aberdeen City,GBR,Scotland,SCT,GB,826
3,AB13,Milltimber,57.10801,-2.23776,Aberdeen City,GBR,Scotland,SCT,GB,826
4,AB14,Peterculter,57.10076,-2.27073,Aberdeen City,GBR,Scotland,SCT,GB,826

## Swiss

In [30]:
header_list = ['postcodes',
 'post_district',
 'comment',
 'country',
 'region',
 'town',
 'latitude',
 'longitude']

In [31]:
df_ch = pd.read_csv("../../../../Downloads/post-codes-swiss.csv", sep=",",names=header_list,header=0)

In [32]:
df_ch.head()

,postcodes,post_district,comment,country,region,town,latitude,longitude
0,1000,Lausanne,NaN,CH,VD,Lausanne,46.567488,6.680964
1,1001,Lausanne 1 cases,PO box only,CH,VD,Lausanne,46.243526,7.382073
2,1002,Lausanne,PO box only,CH,VD,Lausanne,46.521820,6.632665
3,1003,Lausanne Secteur de dist.,NaN,CH,VD,Lausanne,46.520793,6.631489
4,1004,Lausanne,NaN,CH,VD,Lausanne,46.530039,6.617949

In [33]:
df_ch.region.value_counts()

BE    835
VD    601
ZH    521
VS    494
TI    446
GR    392
FR    385
AG    340
TG    324
SG    276
LU    188
SO    176
GE    152
NE    134
JU    120
BL    106
SZ     71
SH     44
ZG     40
AR     38
UR     37
BS     37
GL     34
OW     29
NW     23
AI     18
FL     16
IT      1
DE      1
Name: region, dtype: int64

In [34]:
df_ch['country_iso_alpha2']='CH'
df_ch['country_iso_alpha3']='CHE'
df_ch['country_iso_numeric']='756'

In [35]:
df_ch_final = df_ch[["postcodes", "town", "latitude", "longitude", "region", "country_iso_alpha2","country_iso_alpha3","country_iso_numeric"]]

In [36]:
df_ch_final.to_csv('location_files/ch.csv',  index = False)

In [37]:
df4 = pd.read_csv('location_files/ch.csv', sep=",")

In [38]:
df4.head()

,postcodes,town,latitude,longitude,region,country_iso_alpha2,country_iso_alpha3,country_iso_numeric
0,1000,Lausanne,46.567488,6.680964,VD,CH,CHE,756
1,1001,Lausanne,46.243526,7.382073,VD,CH,CHE,756
2,1002,Lausanne,46.521820,6.632665,VD,CH,CHE,756
3,1003,Lausanne,46.520793,6.631489,VD,CH,CHE,756
4,1004,Lausanne,46.530039,6.617949,VD,CH,CHE,756

## Austria

In [43]:
header_list = ['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude'
              ]

In [44]:
df_at = pd.read_csv("../../../../Downloads/zipcodes.at.csv", sep=",",names=header_list,header=0)

In [45]:
df_at.head(100)

,country_code,postcodes,town,state,state_code,province,province_code,community,community_code,latitude,longitude
0,AT,7000,Eisenstadt,Burgenland,1,Eisenstadt Stadt,101,Eisenstadt,10101,47.8457,16.5233
1,AT,7000,Sankt Georgen am Leithagebirge,Burgenland,1,Eisenstadt Stadt,101,Eisenstadt,10101,47.8500,16.5500
2,AT,7000,Kleinhöflein im Burgenland,Burgenland,1,Eisenstadt Stadt,101,Eisenstadt,10101,47.8415,16.5041
3,AT,7071,Rust,Burgenland,1,Rust Stadt,102,Rust,10201,47.8012,16.6716
4,AT,2443,Loretto,Burgenland,1,Eisenstadt-Umgebung,103,Loretto,10320,47.9156,16.5179
...,...,...,...,...,...,...,...,...,...,...,...
95,AT,7563,Königsdorf,Burgenland,1,Politischer Bezirk Jennersdorf,105,Königsdorf,10511,47.0000,16.1667
96,AT,7564,Rudersdorf,Burgenland,1,Politischer Bezirk Jennersdorf,105,Rudersdorf,10508,47.0500,16.1167
97,AT,7564,Dobersdorf,Burgenland,1,Politischer Bezirk Jennersdorf,105,Rudersdorf,10508,47.0167,16.1333
98,AT,7571,Rudersdorf,Burgenland,1,Politischer Bezirk Jennersdorf,105,Rudersdorf,10508,47.0500,16.1167
99,AT,7572,Deutsch Kaltenbrunn,Burgenland,1,Politischer Bezirk Jennersdorf,105,Deutsch Kaltenbrunn,10501,47.0879,16.1079

In [47]:
df_at['country_iso_alpha2']='AT'
df_at['country_iso_alpha3']='AUT'
df_at['country_iso_numeric']='040'

In [48]:
df_at_final = df_at[['postcodes',
 'town',
'state',
               'latitude',
               'longitude',
                     'province',
                     'province_code',
                     'community',
                     'community_code',
                     'country_iso_alpha2',
                     'country_iso_alpha3',
                     'country_iso_numeric'
              ]]

In [49]:
df_at_final.to_csv('location_files/at.csv',  index = False)

In [50]:
df7 = pd.read_csv('location_files/at.csv', sep=",")

In [51]:
df7.head()

,postcodes,town,state,latitude,longitude,province,province_code,community,community_code,country_iso_alpha2,country_iso_alpha3,country_iso_numeric
0,7000,Eisenstadt,Burgenland,47.8457,16.5233,Eisenstadt Stadt,101,Eisenstadt,10101,AT,AUT,40
1,7000,Sankt Georgen am Leithagebirge,Burgenland,47.8500,16.5500,Eisenstadt Stadt,101,Eisenstadt,10101,AT,AUT,40
2,7000,Kleinhöflein im Burgenland,Burgenland,47.8415,16.5041,Eisenstadt Stadt,101,Eisenstadt,10101,AT,AUT,40
3,7071,Rust,Burgenland,47.8012,16.6716,Rust Stadt,102,Rust,10201,AT,AUT,40
4,2443,Loretto,Burgenland,47.9156,16.5179,Eisenstadt-Umgebung,103,Loretto,10320,AT,AUT,40

## Germany

In [55]:
header_list = ['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude'
              ]

In [57]:
type_dict = {'town': 'category', 'postcodes': 'Int64',
             'region': 'category'}

In [58]:
df_de = pd.read_csv("../../../../Downloads/zipcodes.de.csv", sep=",",names=header_list,header=0, dtype=type_dict)

In [59]:
df_de.head()

,country_code,postcodes,town,state,state_code,province,province_code,community,community_code,latitude,longitude
0,DE,1945,Grünewald,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,14.0000
1,DE,1945,Lindenau,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,13.7333
2,DE,1945,Hohenbocka,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4310,14.0098
3,DE,1945,Schwarzbach,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4500,13.9333
4,DE,1945,Guteborn,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4167,13.9333

In [62]:
df_de.community.value_counts()

Hamburg, Freie und Hansestadt            396
Eifelkreis Bitburg-Prüm                  234
Lüchow-Dannenberg                        227
Ludwigslust-Parchim                      215
Mecklenburgische Seenplatte              212
                                        ...
Frankenthal (Pfalz), kreisfreie Stadt      1
Speyer, kreisfreie Stadt                   1
Kreisfreie Stadt Schwabach                 1
Coburg                                     1
Zweibrücken, kreisfreie Stadt              1
Name: community, Length: 399, dtype: int64

In [70]:
df_de['country_iso_alpha2']='DE'
df_de['country_iso_alpha3']='DEU'
df_de['country_iso_numeric']='276'

In [71]:
df_de_final = df_de[['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude',
                     'country_iso_alpha2',
                     'country_iso_alpha3',
                     'country_iso_numeric'
              ]]

In [72]:
df_de_final.head()

,country_code,postcodes,town,state,state_code,province,province_code,community,community_code,latitude,longitude,country_iso_alpha2,country_iso_alpha3,country_iso_numeric
0,DE,1945,Grünewald,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,14.0000,DE,DEU,276
1,DE,1945,Lindenau,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,13.7333,DE,DEU,276
2,DE,1945,Hohenbocka,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4310,14.0098,DE,DEU,276
3,DE,1945,Schwarzbach,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4500,13.9333,DE,DEU,276
4,DE,1945,Guteborn,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4167,13.9333,DE,DEU,276

In [73]:
df_de_final.to_csv('location_files/de.csv',  index = False)

## Luxembourg

In [84]:
header_list = ['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude'
              ]

In [85]:
df_lu = pd.read_csv("../../../../Downloads/zipcodes.lu.csv", sep=",",names=header_list,header=0)
df_lu.head()

,country_code,postcodes,town,state,state_code,province,province_code,community,community_code,latitude,longitude
0,LU,L-4968,Schouweiler,Capellen,CA,Dippach,3,NaN,NaN,49.5789,5.9571
1,LU,L-4970,Bettange-sur-Mess,Capellen,CA,Dippach,3,NaN,NaN,49.5765,5.9948
2,LU,L-4970,Sprinkange,Capellen,CA,Dippach,3,NaN,NaN,49.5863,5.9711
3,LU,L-4971,Bettange-sur-Mess,Capellen,CA,Dippach,3,NaN,NaN,49.5709,5.9950
4,LU,L-4972,Dippach,Capellen,CA,Dippach,3,NaN,NaN,49.5877,5.9782

In [86]:
df_lu['country_iso_alpha2']='LU'
df_lu['country_iso_alpha3']='LUX'
df_lu['country_iso_numeric']='442'

In [87]:
df_lu_final = df_lu[['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude',
                     'country_iso_alpha2',
                     'country_iso_alpha3',
                     'country_iso_numeric'
              ]]

In [88]:
df_lu_final.to_csv('location_files/lu.csv',  index = False)

## Lichtenstein

In [89]:
header_list = ['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude'
              ]

In [92]:
df_li['country_iso_alpha2']='LI'
df_li['country_iso_alpha3']='LIE'
df_li['country_iso_numeric']='438'

In [93]:
df_li_final = df_li[['country_code',
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude',
                     'country_iso_alpha2',
                     'country_iso_alpha3',
                     'country_iso_numeric'
              ]]

In [94]:
df_li_final.to_csv('location_files/li.csv',  index = False)

## Italy

In [110]:
header_list = [
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'latitude',
               'longitude'
              ]

In [111]:
type_dict = {'town': 'category', 'postcodes': 'Int64',
             'region': 'category'}

In [113]:
df_it = pd.read_csv("../../../../Downloads/it_postal_codes.csv",names=header_list, sep=",",header=0, dtype=type_dict)
df_it.head()

   postcodes      town    state state_code  province  latitude  longitude
0      67100  L'Aquila  Abruzzi         AB  L'Aquila   42.3507    13.3999
1      66100  Tricalle  Abruzzi         AB    Chieti   42.3549    14.1693
2      65100   Pescara  Abruzzi         AB   Pescara   42.4667    14.2167
3      65121   Pescara  Abruzzi         AB   Pescara   42.4667    14.2167
4      65122   Pescara  Abruzzi         AB   Pescara   42.4667    14.2167

In [115]:
df_it['country_iso_alpha2']='IT'
df_it['country_iso_alpha3']='ITA'
df_it['country_iso_numeric']='380'

In [117]:
df_it_final = df_it[[
 'postcodes',
 'town',
'state',
'state_code'  ,
               'province',
               'latitude',
               'longitude',
                     'country_iso_alpha2',
                     'country_iso_alpha3',
                     'country_iso_numeric'
              ]]

In [ ]:
df_it_final.to_csv('location_files/it.csv',  index = False)