In [120]:
import pandas as pd
import csv

# Converting location files

## Spain

In [121]:
header_list = ["postcodes", "poblacionid", "town", "latitude", "longitude", "provinciaid", "region"]

In [122]:
df = pd.read_csv("../../../../Downloads/postal.cat.csv", sep=";", names=header_list, header=0)

In [123]:
df.head()

,postcodes,poblacionid,town,latitude,longitude,provinciaid,region
0,240,1,Alegría-Dulantzi,-2.712437,42.939812,1,Araba/Álava
1,240,1,Abengibre,-1.543845,39.210008,1,Araba/Álava
2,240,1,l'Atzúbia,-0.151730,38.847430,1,Araba/Álava
3,240,1,Abla,-2.779540,37.141210,1,Araba/Álava
4,240,1,Adanero,-4.603775,40.944236,1,Araba/Álava

In [124]:
df_final = df[["postcodes", "town", "latitude", "longitude", "region"]]

In [125]:
df_final['uk_region']=None
df_final['uk_region_code']=None

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [126]:
df_final['country_iso_alpha2']='ES'
df_final['country_iso_alpha3']='ESP'
df_final['country_iso_numeric']='724'

In [127]:
list(df_final.columns)

['postcodes',
 'town',
 'latitude',
 'longitude',
 'region',
 'uk_region',
 'uk_region_code',
 'country_iso_alpha2',
 'country_iso_alpha3',
 'country_iso_numeric']

In [128]:
df_final.to_csv('location_files/spain.csv',  index = False)

In [129]:
df2 = pd.read_csv('location_files/spain.csv', sep=",")

In [130]:
df2.head()

,postcodes,town,latitude,longitude,region,uk_region,uk_region_code,country_iso_alpha2,country_iso_alpha3,country_iso_numeric
0,240,Alegría-Dulantzi,-2.712437,42.939812,Araba/Álava,NaN,NaN,ES,ESP,724
1,240,Abengibre,-1.543845,39.210008,Araba/Álava,NaN,NaN,ES,ESP,724
2,240,l'Atzúbia,-0.151730,38.847430,Araba/Álava,NaN,NaN,ES,ESP,724
3,240,Abla,-2.779540,37.141210,Araba/Álava,NaN,NaN,ES,ESP,724
4,240,Adanero,-4.603775,40.944236,Araba/Álava,NaN,NaN,ES,ESP,724

## UK

In [131]:
header_list = ['postcodes',
 'eastings',
 'northings',
 'latitude',
 'longitude',
 'town',
 'region',
 'uk_region',
 'uk_region_code',
 'country_string']

In [132]:
df_uk = pd.read_csv("../../../../Downloads/postcodes_UK.csv", sep=",",names=header_list,header=0)

In [133]:
df_uk.head()

,postcodes,eastings,northings,latitude,longitude,town,region,uk_region,uk_region_code,country_string
0,AB10,392900,804900,57.13514,-2.11731,Aberdeen,Aberdeen City,Scotland,SCT,Scotland
1,AB11,394500,805300,57.13875,-2.09089,Aberdeen,Aberdeen City,Scotland,SCT,Scotland
2,AB12,393300,801100,57.10100,-2.11060,Aberdeen,Aberdeen City,Scotland,SCT,Scotland
3,AB13,385600,801900,57.10801,-2.23776,Milltimber,Aberdeen City,Scotland,SCT,Scotland
4,AB14,383600,801100,57.10076,-2.27073,Peterculter,Aberdeen City,Scotland,SCT,Scotland

In [134]:
df_uk['country_iso_alpha2']='GB'
df_uk['country_iso_alpha3']='GBR'
df_uk['country_iso_numeric']='826'

In [135]:
df_uk_final = df_uk[["postcodes", "town", "latitude", "longitude", "region", "country_iso_alpha3", "uk_region", "uk_region_code","country_iso_alpha2", "country_iso_numeric"]]

In [136]:
df_uk_final.head()

,postcodes,town,latitude,longitude,region,country_iso_alpha3,uk_region,uk_region_code,country_iso_alpha2,country_iso_numeric
0,AB10,Aberdeen,57.13514,-2.11731,Aberdeen City,GBR,Scotland,SCT,GB,826
1,AB11,Aberdeen,57.13875,-2.09089,Aberdeen City,GBR,Scotland,SCT,GB,826
2,AB12,Aberdeen,57.10100,-2.11060,Aberdeen City,GBR,Scotland,SCT,GB,826
3,AB13,Milltimber,57.10801,-2.23776,Aberdeen City,GBR,Scotland,SCT,GB,826
4,AB14,Peterculter,57.10076,-2.27073,Aberdeen City,GBR,Scotland,SCT,GB,826

In [137]:
df_uk_final.to_csv('location_files/uk.csv',  index = False)

In [138]:
df3 = pd.read_csv('location_files/uk.csv', sep=",")

In [139]:
df3.head()

,postcodes,town,latitude,longitude,region,country_iso_alpha3,uk_region,uk_region_code,country_iso_alpha2,country_iso_numeric
0,AB10,Aberdeen,57.13514,-2.11731,Aberdeen City,GBR,Scotland,SCT,GB,826
1,AB11,Aberdeen,57.13875,-2.09089,Aberdeen City,GBR,Scotland,SCT,GB,826
2,AB12,Aberdeen,57.10100,-2.11060,Aberdeen City,GBR,Scotland,SCT,GB,826
3,AB13,Milltimber,57.10801,-2.23776,Aberdeen City,GBR,Scotland,SCT,GB,826
4,AB14,Peterculter,57.10076,-2.27073,Aberdeen City,GBR,Scotland,SCT,GB,826

## Swiss

In [140]:
header_list = ['postcodes',
 'post_district',
 'comment',
 'country',
 'region',
 'town',
 'latitude',
 'longitude']

In [141]:
df_ch = pd.read_csv("../../../../Downloads/post-codes-swiss.csv", sep=",",names=header_list,header=0)

In [142]:
df_ch.head()

,postcodes,post_district,comment,country,region,town,latitude,longitude
0,1000,Lausanne,NaN,CH,VD,Lausanne,46.567488,6.680964
1,1001,Lausanne 1 cases,PO box only,CH,VD,Lausanne,46.243526,7.382073
2,1002,Lausanne,PO box only,CH,VD,Lausanne,46.521820,6.632665
3,1003,Lausanne Secteur de dist.,NaN,CH,VD,Lausanne,46.520793,6.631489
4,1004,Lausanne,NaN,CH,VD,Lausanne,46.530039,6.617949

In [143]:
df_ch['uk_region']=None
df_ch['uk_region_code']=None

In [144]:
df_ch['country_iso_alpha2']='CH'
df_ch['country_iso_alpha3']='CHE'
df_ch['country_iso_numeric']='756'

In [145]:
df_ch_final = df_ch[["postcodes", "town", "latitude", "longitude", "region", "country_iso_alpha2","country_iso_alpha3","country_iso_numeric", "uk_region"]]

In [146]:
df_ch_final.to_csv('location_files/ch.csv',  index = False)

In [147]:
df4 = pd.read_csv('location_files/ch.csv', sep=",")

In [148]:
df4.head()

,postcodes,town,latitude,longitude,region,country_iso_alpha2,country_iso_alpha3,country_iso_numeric,uk_region
0,1000,Lausanne,46.567488,6.680964,VD,CH,CHE,756,NaN
1,1001,Lausanne,46.243526,7.382073,VD,CH,CHE,756,NaN
2,1002,Lausanne,46.521820,6.632665,VD,CH,CHE,756,NaN
3,1003,Lausanne,46.520793,6.631489,VD,CH,CHE,756,NaN
4,1004,Lausanne,46.530039,6.617949,VD,CH,CHE,756,NaN

## Austria

In [149]:
header_list = ['country_code',
 'postcodes',
 'town',
'region',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude'
              ]

In [150]:
df_at = pd.read_csv("../../../../Downloads/zipcodes.at.csv", sep=",",names=header_list,header=0)

In [151]:
df_at.head()

,country_code,postcodes,town,region,state_code,province,province_code,community,community_code,latitude,longitude
0,AT,7000,Eisenstadt,Burgenland,1,Eisenstadt Stadt,101,Eisenstadt,10101,47.8457,16.5233
1,AT,7000,Sankt Georgen am Leithagebirge,Burgenland,1,Eisenstadt Stadt,101,Eisenstadt,10101,47.8500,16.5500
2,AT,7000,Kleinhöflein im Burgenland,Burgenland,1,Eisenstadt Stadt,101,Eisenstadt,10101,47.8415,16.5041
3,AT,7071,Rust,Burgenland,1,Rust Stadt,102,Rust,10201,47.8012,16.6716
4,AT,2443,Loretto,Burgenland,1,Eisenstadt-Umgebung,103,Loretto,10320,47.9156,16.5179

In [152]:
df_at_final = df_at[['postcodes',
 'town',
'region',
               'latitude',
               'longitude'
              ]]

In [153]:
df_at_final['uk_region']=None
df_at_final['uk_region_code']=None

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [154]:
df_at_final['country_iso_alpha2']='AT'
df_at_final['country_iso_alpha3']='AUT'
df_at_final['country_iso_numeric']='040'

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [155]:
df_at_final.to_csv('location_files/at.csv',  index = False)

In [156]:
df7 = pd.read_csv('location_files/at.csv', sep=",")

In [157]:
df7.head()

,postcodes,town,region,latitude,longitude,uk_region,uk_region_code,country_iso_alpha2,country_iso_alpha3,country_iso_numeric
0,7000,Eisenstadt,Burgenland,47.8457,16.5233,NaN,NaN,AT,AUT,40
1,7000,Sankt Georgen am Leithagebirge,Burgenland,47.8500,16.5500,NaN,NaN,AT,AUT,40
2,7000,Kleinhöflein im Burgenland,Burgenland,47.8415,16.5041,NaN,NaN,AT,AUT,40
3,7071,Rust,Burgenland,47.8012,16.6716,NaN,NaN,AT,AUT,40
4,2443,Loretto,Burgenland,47.9156,16.5179,NaN,NaN,AT,AUT,40

## Germany

In [162]:
header_list = ['country_code',
 'postcodes',
 'town',
'region',
'state_code'  ,
               'province',
               'province_code',
               'community',
               'community_code',
               'latitude',
               'longitude'
              ]

In [163]:
df_de = pd.read_csv("../../../../Downloads/zipcodes.de.csv", sep=",",names=header_list,header=0, dtype=type_dict)

In [164]:
df_de.head()

,country_code,postcodes,town,region,state_code,province,province_code,community,community_code,latitude,longitude
0,DE,1945,Grünewald,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,14.0000
1,DE,1945,Lindenau,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,13.7333
2,DE,1945,Hohenbocka,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4310,14.0098
3,DE,1945,Schwarzbach,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4500,13.9333
4,DE,1945,Guteborn,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4167,13.9333

In [165]:
df_de_final = df_at[['postcodes',
 'town',
'region',
               'latitude',
               'longitude'
              ]]

In [166]:
df_de_final['uk_region']=None
df_de_final['uk_region_code']=None

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [167]:
df_de_final['country_iso_alpha2']='DE'
df_de_final['country_iso_alpha3']='DEU'
df_de_final['country_iso_numeric']='276'

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/simonjuliangreiner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [168]:
ddf_de_finalf_de.head()

,country_code,postcodes,town,region,state_code,province,province_code,community,community_code,latitude,longitude
0,DE,1945,Grünewald,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,14.0000
1,DE,1945,Lindenau,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4000,13.7333
2,DE,1945,Hohenbocka,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4310,14.0098
3,DE,1945,Schwarzbach,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4500,13.9333
4,DE,1945,Guteborn,Brandenburg,BB,NaN,0,Landkreis Oberspreewald-Lausitz,12066,51.4167,13.9333

In [ ]:
df_de_final = df_de[["postcodes", "town", "latitude", "longitude", "region", "country_iso_alpha2","country_iso_alpha3","country_iso_numeric", "uk_region"]]

In [ ]:
df_de_final.to_csv('location_files/de.csv',  index = False)